.channel-block
  .player-block
    .player

  .title= @channel.name
  .description= @channel.description

.chat-block
  .message
    %p.status
  .send
    %input#username{type: 'hidden', value: current_user.username}
    %input#msg{type: 'text'}
    %button#send{type: 'submit'} Send