/ - @games.each do |game|
/   %h1= game.name

.events

.games-block
  
  %h2.title 正在直播的游戏

  - @games.each do |game|
    = link_to('#',class: 'block') do
      .game
        .pic
          = image_tag(game.pic)
        .name= game.name