// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primary: #009688;

.now{
  padding-left: 128px;
  padding-right: 128px;
  height: 380px;

}

.header{
  padding-top: 14px;
  padding-bottom: 14px;
  overflow: hidden;

  .logo{
    float: left;
    display: inline-block;

    a{
      text-decoration: none;
      color: $primary;
    }
  }

  ul.nav{
    float: right;
    list-style-type: none;
    margin: 0;
    li{
      float: left;
      margin-left: 12px;

      a{
        text-decoration: none;
      }
    }
  }
}


.events{
  background-color: #f7f7f7;
  height: 480px;
  background-image: url("background.png");
  background-size: cover;
  .brand{
    color: #fff;
    width: 960px;
    margin: 0 auto;
    padding-top: 240px;
  }
}

.lives-block{
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 36px;

  .title{
    h1{
      display: inline-block;
    }
    span{
      margin-left: 8px;
      font-size: .8em;
      color: #777;
    }
  }

  .item{
    display: inline-block;
    float: left;
    height: 220px;
    margin-right: 20px;
    .img{
      width: 220px;
      height: 120px;
      margin-bottom: 8px;
      background-color: #000;
    }

    .user{
      font-size: .8em;
      color: #777;
      a{
        text-decoration: none;
      }
    }

    .channel-description{
      width: 220px;
    }

    .activity{
      a{
        display: inherit;
        margin-bottom: 6px;
        text-decoration: none;
        font-size: .9em;
        color: #000;
      }
    }

  }
}

.games-block{
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
  .block{
    text-decoration: none;
    width: 140px;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 30px;
    float: left;
    color: gray;
    .name{
      margin-top: 12px;
      font-size: .7em;
    }
    .game{
      .pic img{
        width: 100%;
      }
    }
  }
}

.footer{
  margin-top: 64px;
  p{
    font-size: .8em;
  }
}